## UnitTest.vm
// from main/resources/UnitTest.vm
// $timeStamp

package $packageName;

public class $className {
	public $className() {
		super();
	}
	
	@Test
	public void testDefaultConstructor() {
	 assertNotNull(new $testTarget());
	}

// Generate unit test forEachMethod 
}
