## Class.vm
// generated at $timeStamp from  main/resources/templates/Class.vm

package $packageName;

public class $className {

#foreach($field in $fields)
	// $field.toCode()
	private $field.type $field.name;

#end

	public $className() {
		super();
	}

#foreach($method in $methods)
	$method.toCode()

#end
}
