## FluentPojoClass.vm.vm
// generated at $timeStamp from  main/resources/templates/FluentPojoClass.vm

package $packageName;

import java.util.Date;

public class $className {

#foreach($field in $fields)
	// $field.toCode()
	private $field.type $field.name;

#end

	public $className() {
		super();
	}

#foreach($field in $fields)
	// $field
	public $className set$field.getName()(final $field.type $field.name) {
		this.$field.name = $field.name;
		return this;
	}

	public $field.type get$field.getName()() {	
		return this.$field.name;
 	}
 	
#end
}
