## UnitTest.vm
// from main/resources/templates/UnitTest.vm
// Generated $timeStamp

package $packageName;

public class $className {

	public $className() {
		super();
	}
	
	@Test
	public void testDefaultConstructor() {
		assertNotNull(new $testTarget());
	}

	// Generate unit test forEachMethod 
#foreach($element in $content)
	// $element
	public $className test$element.name() {
		$element.type $element.name = new ${element.type};
		assertNotNull($element.name);
		verify($element.name);
		return this;
	}
#end
	
}
