## This is an the velocity template
## to generate a Java class
import java.util.*;

public class $class.Name {

#foreach( $att in $class.Attributes)	
	// $att.Name
	private $att.Type $att.Name;
	public $att.Type get$utility.firstToUpperCase($att.Name)() {
		return this.$att.Name;
	}	
	public void set$utility.firstToUpperCase($att.Name)($att.Type $att.Name) {
		this.$att.Name = $att.Name;
	}
	
#end
}

